#post-41 header,
#post-11 header {
    display: none;
}


/* HEADER */

header {
    box-shadow: 0px 4px 14px 10px #00000008;
}

#menu-item-50 {
    padding-right: 0 !important;
}

a {
    display: flex;
    text-align: center;
    text-decoration: none;
}

#barmenu,
#topmenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 216px;
    height: 14px;
    top: 31px;
    left: 146px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: slideIn 2s ease, fadeIn 1s;
}

#topmenu {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 80px;
}

#primary-menu {
    display: flex;
    animation: slideInRight 2s ease, fadeIn 1s;
}

#primary-menu li {
    padding: 15px;
    list-style-type: none;
    font-family: "Space Mono";
    font-size: 16px;
}

#primary-menu li a {
    text-decoration: none;
}

#primary-menu li :hover,
#footer-menu li :hover {
    color: #E00000;
    transform: scale(1.1);
}

.menu-bars {
    background-image: url('assets/images/Menu.png');
    height: 19px;
    width: 27px;
}

.menu-close {
    background-image: url('assets/images/Close.png');
    height: 19px;
    width: 22px;
}


.menu-bars,
.menu-close {
    display: none;
    align-content: center;
    align-items: center;
}

.menuburger {
    display: none;
}

.remove {
    display: none !important;
}

.open {
    display: flex !important;
}


/* HERO */


.hero img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: calc(100vh - 80px);
    min-height: 962px;
    max-width: 1440px !important;
    margin: 0 !important;
}


.hero {
    max-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: "Space Mono";
    font-size: 96px;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 3px #ffffff;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s, scaleIn 2s ease;
}




/* FOOTER */

.site-footer {
    margin-top: 30px;
    padding: 0;
    border-top: solid 2px black;
    width: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-footer-container {
    margin: 10px;
}

#footer-menu {
    list-style-type: none;
    font-family: "Space Mono";
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    display: flex;
}

#footer-menu li {
    padding-left: 2em;
    padding-right: 2em;
}


/* MODALE */

.popup-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #00000060;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    margin: 0;
}

.popup {
    display: flex !important;
}

.popup-close {
    margin-top: 8px;
    animation: faqmove 20s linear infinite;
}

.popup-contact {
    max-width: 597px;
    /* max-height: 769px; */
    border: 5px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    border: 5px solid !important;
    background: white;
    opacity: 1;
}

.wpcf7-spinner {
    display: none;
}

.wpcf7-form {
    padding-top: 15px;
}

.wpcf7-form p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    --form--border-width: 1px;
    --form--border-radius: 8px;
}

.wpcf7-form p label {
    margin: 0px;
    font-size: 12px;
}

.wpcf7-form p input {
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 12px;
    border: 0px ! important;
}

#wpcf7-f51-o1 form p,
#wpcf7-f51-o1 form p label {
    max-width: 263px !important;
}

.wpcf7-submit {
    width: 263px;
    background-color: #D8D8D8 !important;
    font-family: 'Space Mono' !important;
    color: black !important;
    font-size: 12px;
}

.wpcf7-form p label span textarea {
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    width: 263px !important;
}

.wpcf7-form p label span input {
    border-radius: 8px;
    border: 1px solid #B8BBC2 !important;
}


/* LIGHTBOX */

.popup-overlay-lightbox {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    margin: 0;
}

.popup-lightbox {
    /* max-width: 597px; */
    max-height: 80vh;
    max-width: 50vw;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    background: white;
    opacity: 1;
}

.post-navigation-lightbox {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.post-navigation-lightbox nav {
    width: 100%;
}

.post-navigation-lightbox nav div div a {
    display: flex;
    align-items: center !important;
    flex-direction: row-reverse !important;
}

.post-navigation-lightbox nav div div a p {
    margin: 15px;
    color: white;
}

.post-navigation-lightbox nav div div a img {
    height: auto;
    width: 25px;
}

.photo-info-lightbox {
    display: flex;
    justify-content: space-between;
    max-width: 50vw;
    width: 100%;
    position: absolute;
    bottom: 1em;
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.closecrosswhite img {
    position: absolute;
    top: 2em;
    right: 2em;
    height: 22px;
    width: auto;
}




/* TEMPLATE POST SINGLE */

.center {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

.main_post {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.div1 {
    width: 50%;

}

.div2 {
    width: 50%;

}

.post-thumbnail,
.wp-post-image {
    margin: 0;
    margin-top: 2rem !important;
}

.description_post p {
    font-family: Space Mono;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.description_post h1 {
    max-width: 100%;
    font-family: Space Mono;
    font-style: italic;
    font-size: 66px !important;
    text-transform: uppercase;
}

.description_post {
    padding-bottom: 30px;
    margin-right: 30px;
    border-bottom: 1px solid black;
}

.column_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;

}

.margin_right {
    margin-right: 30px;
}

.button_contact {
    width: 100%;
    max-width: 272px;
    background-color: #D8D8D8 !important;
    font-family: Space Mono;
    font-size: 12px;
    color: black !important;
    border-radius: 2px;
}



.block_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    border-bottom: 1px solid black;
}

.photos_apparentees h3 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: Space Mono;
    font-size: 18px;
    text-transform: uppercase;
}

.photos_apparentees {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.block_link {
    height: 118px;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap !important;
    max-height: 40px;
}

.container_thumb {
    width: 87px !important;
    height: 71px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.photo_previous a img,
.photo_next a img {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 71px;
}

.close {
    display: none;
}

.column_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
}

.nav-next {
    display: flex;
    justify-content: flex-end;
}

.nav-previous {
    display: flex;
    justify-content: flex-start;
}


.nav-previous a img,
.nav-next a img {
    height: 8px;
    width: 26px;
}

.nav-previous a,
.nav-next a {
    justify-content: center;
}

.post-navigation {
    margin: 0;
}

.single_posts {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1460px;
    margin-bottom: 90px;
}

.single_posts a {
    width: 50%;
    overflow: hidden;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.single_posts img {
    height: 620px !important;
    width: 710px !important;
    object-fit: cover !important;

}

.posts_homepage {
    margin: -10px;
}

/* HOME PAGE */

.blog-posts img {
    height: 495px !important;
    width: 550px !important;
    object-fit: cover !important;
    /* margin-left: 15px;
    margin-right: 15px; */
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 1440px;
}

.width1440 {
    max-width: 1440px;
    width: 100%;
}

.loadmore {
    width: 100%;
    max-width: 272px;
    background-color: #D8D8D8 !important;
    font-family: Space Mono;
    font-size: 12px;
    color: black !important;
    border-radius: 2px;
    margin: 30px 0 0 0;
}


/* Filtres */

.filters-and-sort {
    max-width: 1128px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: start;
}

.filters-and-sort label,
.filters-and-sort select {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.filters-and-sort select option:checked,
.filters-and-sort select option:hover,
.filters-and-sort select option:focus {
    background-color: red;
    color: white;
}


#category-filter {
    margin-right: 42px;
}

#date-sort {
    margin-left: 310px;
}

#category-filter,
#format-filter,
#date-sort {
    width: 260px;
    height: 42px;
    padding: 11px 18px 11px 18px;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    justify-content: space-between;
}



/* HOVER PHOTO CATALOGUE */

.photo-info {
    position: absolute;
    max-width: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
}

#icon_eye {
    width: 46px !important;
    height: 32px !important;
    transition: .5s ease;
    position: absolute;
    top: 11em;
}

/* #icon_eye:hover {
    transform: scale(2);
} */

#full_icon {
    width: 46px !important;
    height: 46px !important;
    transition: .5s ease;
    position: absolute;
    top: 1em;
    right: 1em;
}

.blog-posts a:hover .photo-info {
    opacity: 1;
}

.photo-info-leftandright {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 33em;
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.blog-posts a img:hover {
    opacity: 0.25;
}

.background-black {
    background-color: black !important;
}

.blog-posts a {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}

.wp-post-image {
    margin-top: 0 !important;
}



/* ANIMATIONS */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}


@keyframes slideInRight {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(0%);
    }
}


@keyframes faqmove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes scaleIn {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}


@keyframes scaleInDouble {
    0% {
        scale: 1;
    }

    100% {
        scale: 2;
    }
}



/* MOBILE */

@media (max-width: 768px) {
    .menu-bars {
        display: flex;
    }

    .menudesktop {
        display: none;
    }

    #topmenu {
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }

    .open {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuburger {
        flex-direction: column;
        height: calc(100vh - 80px);
        background-color: #E00000;
    }

    #primary-menu {
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    #primary-menu li {
        list-style-type: none;
        padding-bottom: 20px;
    }

    #primary-menu li a {
        font-family: Space Mono;
        font-size: 44px;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        text-decoration: none;
    }

    .hero {
        height: 40vh;
    }

    .hero h1 {
        font-size: 45px;
        -webkit-text-stroke: 1px #ffffff;

    }

    #footer-menu {
        flex-direction: column;
    }

    #footer-menu li {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
    }

    .popup-contact {
        max-width: 286px;
    }

    .wpcf7-submit,
    #wpcf7-f51-o1 form p,
    #wpcf7-f51-o1 form p label,
    .wpcf7-submit,
    .wpcf7-form p label span textarea {
        width: 190px !important;
    }

    #footer-menu li a {
        justify-content: center;
    }

    .center {
        margin-right: 60px;
        margin-left: 60px;
    }

    .main_post {
        flex-direction: column-reverse;
    }

    .div1,
    .div2 {
        width: 100%;
        float: unset;
    }

    .column_contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .column_contact p {
        margin-bottom: 15px;
    }

    .block_link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post-thumbnail {
        margin: 0 !important;
    }

    .description_post {
        margin-right: 0px;
        padding-top: 30px;
        border-bottom: 0px;
    }

    .block_link {
        height: auto;
        border-bottom: 0px;
        margin-top: 25px;
    }

    .border {
        border-bottom: 2px solid black;
    }

    .margin_right {
        margin-right: 0px;
    }

    .column_contact_main {
        align-items: normal;
    }

    .column_contact {
        margin-bottom: 25px;
    }

    .align_item_normal {
        display: flex;
        align-items: normal;
    }

    .align_item_center {
        display: flex;
        align-items: center;
    }

    .button_contact {
        max-width: 100%;
    }

    .column_nav {
        display: none;
    }

    .photos_apparentees {
        justify-content: center;
    }

    .posts_homepage img {
        height: 75vw !important;
        width: 80vw !important;
    }

    .single_posts {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .width1440 {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .photos_apparentees h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .filters-and-sort {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    #category-filter,
    #format-filter,
    #date-sort {
        margin-bottom: 0;
    }

    #category-filter,
    #date-sort {
        margin: 10px 0;
    }

    .photo-info {
        display: none;
    }

    .single_posts a {
        width: unset;
    }

}